body {
  overflow-x: hidden;
}

.background-light {
  background-color: #F5F7FA;
}

.background-tint {
  background-color: #E8F5E9;

}

.background-green {
  background-color: #4CAF4F;
}
.background-grey{
background-color: #717171;
}
.background-black {
  background-color: #263238;
}


.text-green {
  color: #4CAF4F;
}

.text-dark-grey {
  color: #4D4D4D;

}



.text-grey {
  color: #717171;
}

.text-black {
  color: #263238;

}


.alternate-rounded-border {
  border-radius: 10px 5px 18px;
}

.leftsided {
  position: relative;
  top: -8px;
  left: -15px;
}

.slick-arrow {
  display: none !important;
}



.paragraph-center {
  max-width: 600px;

}


.slider-button {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
  background-color: #4CAF4F !important;
}

.map-styles{
  width: 90vw !important;
  height: 500px !important;
  margin-top: 50px   !important;
  border-radius: 30px !important;
  margin-bottom: -300px !important;
}


input:focus {
  outline-style: solid;
  outline-width: 1px;
  outline-color: #4CAF4F;
}

.form-field::placeholder{
  color: #717171 !important;
}

.accordion-button:not(.collapsed){
  background-color: #F5F7FA;
  border: 0 !important;
}

.error-message{
  border-radius: 5px;
  padding: 2px 5px;
  color: rgb(160, 3, 3);
  font-weight: 500;
}
::placeholder,
.text-silver {
  color: #F5F7FA;

}